.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root {
  --first-color: #2F2504;
  --first-color-alpha: #594e365e;
  --background-color: #D0DDD7;
  --title-color: #7E846B;
  --text-color: #A5AE9E;
  --1: #EFD8B7;
  --2: #48403867;
  --3: #525154;
  --4: #CD9C57;
  --5: #897c6e48;

  --font: 'Raleway', sans-serif;

  --layout-width: 90vw;
  --header-height: 4rem;
}

/*---------- RESET ----------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  height: 100%;
  display: block;
}

body {
  font-family: var(--font);
}


/*---------- DEFINITIVAS ----------*/

.collapsed {
  display: none;
}

.layout {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.btn {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, .5);
}

/*---------- HEADER ----------*/

.header {
  z-index: 100;
  position: fixed;
  padding: 10px 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--first-color);
}

.nav {
  height: 100%;
}

.mobile {
  height: 100%;
}

.mobile__header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.mobile__more {
  height: 100%;
}

.mobile__more button {
  height: 100%;
  width: 50px;
  color: white;
  background-color: var(--first-color);
  cursor: pointer;
}

.mobile__more:hover button {
  background-color: var(--4);
}

.mobile__links a {
  text-align: center;
  background-color: var(--first-color);
}

.nav a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}

.nav a:hover {
  background-color: var(--4);
}

.desktop {
  display: none;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.desktop__logo {
  height: 100%;
}

.desktop__links {
  display: flex;
}

/*---------- HERO IMAGE ----------*/

.inicio {
  width: 100%;
  padding: 20px;
  padding-top: var(--header-height);
  background-color: var(--1);
}

.hero__bike {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.hero__bike img {
  z-index: 2;
  margin: 0 auto;
}

.hero__bike::after {
  content: "";
  background-color: var(--2);
  width: 400px;
  height: 400px;
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 78% 44% 75% 25% / 84% 72% 28% 39%;
}

.hero__bike::before {
  content: "";
  background-color: var(--4);
  width: 350px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 56% 44% 21% 79% / 36% 25% 75% 64%;
}

.hero__images {
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  transition: all 30s ease-in;
}

.hero__images img {
  width: 120px;
  border-radius: 50%;
  border: 5px solid #FFF;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, .5);
}

.hero__description {
  margin-top: 20px;
  padding: 20px 20px 40px 20px;
  background-color: var(--first-color-alpha);
}

.hero__description h2 {
  font-size: 3rem;
  padding: 20px 0 0 0;
}

.hero__description p {
  padding: 20px 0 30px;
}

.hero__btn:hover {
  background-color: var(--2);
  color: #FFF;
  border: 2px solid #FFF;
}

.hero__bike:hover .hero__images {
  display: flex;
}

/*---------- MEDIAQUERIES ----------*/

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    height: calc(100vh - var(--header-height));
  }

  .hero__bike {
    width: 70%;
  }

  .hero__description {
    width: 30%;
  }

  .hero__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin: auto 0;
  }

  .hero__btn {
    width: 100px;
  }

  .hero__bike {
    flex-direction: row;
  }

  .hero__images {
    position: static;
    flex-direction: column;
    gap: 10px;
    display: none;
  }

}

@media screen and (min-width: 1200px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}

@media screen and (min-width: 1400px) {}